.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.modal__opened {
  visibility: visible;
  opacity: 1;
}

.modal__title {
  margin: 0;
  padding-bottom: 24px;
}

.modal__close-btn {
  position: absolute;
  top: 20px;
  right: 28px;
  border-style: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.modal__close-btn-img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.modal__close-btn:hover {
  cursor: pointer;
  transition: 0.2s ease-in-out;
  transform: scale(1.1);
}

.modal__content {
  background-color: #ffffff;
  position: relative;
  padding: 28px 28px 32px;
  border-radius: 20px;
  max-width: 496px;
  width: 100%;
  box-sizing: border-box;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}

.modal__input {
  display: block;
  width: 100%;
  height: 24px;
  padding: 0;
  border-style: none;
  border-bottom: solid 1px #000000;
  margin-top: 3px;
  cursor: pointer;
}

.modal__legend {
  padding-bottom: 12px;
  color: #000;
  cursor: default;
}

.modal__radio-btns {
  display: flex;
  flex-direction: column;
  border: none;
  gap: 8px;
  padding: 0;
  margin: 0;
  color: #00000080;
}

.modal__radio-input {
  cursor: pointer;
}

.modal__radio-input:checked + .modal__radio-text {
  color: black;
  font-weight: bold;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.modal__submit {
  color: #ffffff;
  border-radius: 4px;
  background-color: #0000004d;
  border-style: none;
  padding: 0;
  margin-top: 8px;
  width: 124px;
  height: 36px;
}

.modal__submit:not(:disabled) {
  background-color: #000000;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.modal__submit:not(:disabled):hover {
  background-color: #00000099;
  transition: 0.2s ease-in-out;
}

.modal__error {
  color: #ff4d4d;
  font-size: 16px;
  display: block;
  padding-top: 8px;
  font-weight: bold;
}

.modal__input_type_error {
  border-bottom: 1px solid #ff4d4d;
}
