.toggle-switch {
  width: 56px;
  height: 28px;
  border: 2px solid #7e7e7e;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  background-color: #fff;
}

.toggle-switch__checkbox {
  opacity: 0;
}

.toggle-switch__circle {
  width: 28px;
  height: 28px;
  background-color: #000;
  position: absolute;
  border-radius: 50%;
  left: 0;
  transition: all 0.5s ease;
}

.toggle-switch__text {
  position: absolute;
  top: 7px;
  color: #7e7e7e;
  font-size: 14px;
  mix-blend-mode: difference;
  z-index: 2;
  transition: all 0.5s ease;
}

.toggle-switch__text_F {
  left: 10px;
}

.toggle-switch__text_C {
  right: 8px;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__circle {
  left: 29px;
}

.toggle-switch__text_color_white {
  color: #fff;
}

.toggle-switch:hover {
  border-color: #000;
}

.toggle-switch:hover .toggle-switch__text {
  color: #fff;
}

.toggle-switch:hover .toggle-switch__circle {
  transform: translateX(2px);
}
