.toggle-switch {
  width: 56px;
  height: 28px;
  border: 2px solid #7e7e7e;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.toggle-switch__checkbox {
  opacity: 0;
}

.toggle-switch__circle {
  width: 28px;
  height: 28px;
  background-color: #000;
  position: absolute;
  border-radius: 50%;
  left: 0;
  transition: all 0.3s;
}

.toggle-switch__text {
  position: absolute;
  top: 4px;
  color: #7e7e7e;
}

.toggle-switch__text_F {
  left: 8px;
}

.toggle-switch__text_C {
  right: 8px;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__circle {
  left: 28px;
}
