.weather-card {
  position: relative;
  display: flex;
  height: 80px;
  border-radius: 12px;
  overflow: hidden;
}

.weather-card__temp {
  margin: auto 0;
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}

.weather-card__image {
  object-fit: cover;
  object-position: right top;
  width: 100%;
}
