.cards__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 20px;
}

.cards__text {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 34px;
}
