.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  font-size: 20px;
  font-weight: 700;
  position: relative;
}

.header__controls {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__date-and-location {
  margin: 0;
}

.header__add-clothes-btn {
  border-style: none;
  font-size: 20px;
  font-weight: 700;
  background-color: transparent;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}
