.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  font-size: 20px;
  font-weight: 700;
}

.header__logo {
  margin-right: 24px;
}
.header__date-and-location {
  margin: 0;
}

.header__username {
  margin: 0;
}
.header__add-clothes-btn {
  margin-left: auto;
  margin-right: 20px;
  border-style: none;
  font-size: 20px;
  font-weight: 700;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}
