.modal__image {
  position: relative;
  left: -28px;
  top: -29px;
  width: 496px;
  height: 497px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 0;
  padding: 0;
}

.modal__description {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__caption {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.modal__weather {
  margin: 0;
  padding-top: 12px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.modal__delete-btn {
  background: transparent;
  border: none;
  color: #ff4d00;
  cursor: pointer;
  font-size: 20px;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.modal__delete-btn:hover {
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
