.clothes-section {
  flex-grow: 1;
  padding-left: 116px;
}

.clothes-section__row {
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.clothes-section__add-btn {
  padding: 0;
  margin: 0;
  border-style: none;
  background-color: transparent;
  font-weight: bold;
  color: #00000099;
}

.clothes-section__add-btn:hover {
  color: black;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.clothes-section__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, 323px);
  grid-template-rows: repeat(auto-fit, 323px);
  padding: 0;
  gap: 20px;
  margin: 0;
}
